#Problem : registering Entity Service , instead of Booking Service through yml file

server:
  port: 8001

spring:
  application:
    name: UberBookingService

  datasource:
    url: jdbc:mysql://localhost:3306/Uber_Db_Local
    username: root
    password: Shivam@123

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true


